*{
    padding: 0;
    margin: 0;
}
.lol{
    width: 916px;
height: 15px;
margin-top: -80px;
margin-left: 446px;
}
.vera2{
    width: 137px;
height: 118px;
margin-top: 49px;
margin-left: 116px;
border-radius: 31px 0px 0px 0px;
}
.pechal{
    width: 54px;
height: 51.84px;
margin-top: -30px;
margin-left: 1240px;
}
.devu{
    width: 445px;
height: 455px;
margin-top: 80px;
margin-left: 835px;
}
.block{
    width: 668px;
height: 339px;
margin-top: -400px;
margin-left: 137px;
border: 8px solid #FBF10D;
box-shadow: 10px 10px 10px 0px #00000040;
}
.wery{
    width: 204px;
height: 48px;
margin-top: 40px;
margin-left: 230px;
}
.fairy{
    width: 444px;
height: 87px;
margin-top: 25px;
margin-left: 120px;
}
.po{
    width: 270px;
height: 53px;
margin-top: 35  px;
margin-left: 215px;
border-radius: 50px 0px 0px 0px;
}
.sapnap{
    margin-left: 115px;
    margin-top: 300px;
}
.kola{
    margin-left: 138px;
    margin-top: 100px;
}
.pepsi{
    margin-left: 134px;
    margin-top: 30px;
}
.fanta{
    margin-left: 138px;
    margin-top: 50px;
}
.sprite{
    margin-left: 138px;
    margin-top: 30px;
}
.termin{
    margin-left: 90px;
    margin-top: -40px;
}
.ffa{
    width: 450px;
height: 30px;
margin-top: -35px;
margin-left: 230px;
}
.rew{
    margin-left: 90px;
    margin-top: -35px;
}
.pol{
    margin-left: 90px;
    margin-top: -40px;
}